@use "sass:map";
@import './styles/var';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(2, 1, 24);
  color           : map-get($color, "gray_dark");

  a {
    display: inline-block;
    position: relative;
    color: map.get($color, "green_light");
    text-decoration: none;

    &:after {
      content: "";
      display: block;
      margin: auto;
      height: 2px;
      width: 0px;
      transition: all .5s;
    }

    &:hover:after {
      width: 100%;
      background: map.get($color, "green_light");
    }
  }

}

@media (min-width: map.get($respons, "xxl")) {
  body {
    font-size: 25px;
  }
}