@use "sass:map";

.landing_container {
  background-color: map.get($color, "azul_oscuro");
  color: map.get($color, "gris_medio");
  @include landing();
  display: grid;
  height: 100vh;
  // max-height: 100vh;
  justify-items: center;

  .main {
    grid-area: main;
    display: grid;
    grid-template-rows: 20% 80%;

    h3 {
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }

  .content {
    grid-area: content;
    display: grid;
    grid-template-rows: 20% 60%;
    gap: 5px;

    h4{
      text-align: center; 
    }
    ul{
     display: grid;
     align-content: space-evenly;
    }
  }

  .income {
    grid-area: income;
    p{
      text-align: justify;
    }
  }

  a {
    color: map.get($color, "verde_claro"); 
    text-decoration: none;
  }


}