@use "sass:map";

@mixin landing {

  @media (min-width: map.get($respons, "xs")) {
    grid-template: {
      columns: 5% 1fr 1fr 5%;
      rows: 3% 1fr 1fr 1fr 1fr 1fr 10%;
      areas:
        ".   .        .    ."
        ". header  header  ."
        ". main    main ."
        ". content    content ."
        ". income  income  ."
        ".  tecnologies    tecnologies    ."
        ".  . .   .";
    }
    
    gap: 5px;

    .header {
      grid-area: header;
      display: grid;
      grid-template-areas: "img" "h1";
      align-content: center;
      justify-items: center;
      gap: 3px;

      img {
        grid-area: img;
        width: 40px;
        background: map.get($color, "verde_oscuro");
        border-radius: 50px;
      }

      h1 {
        grid-area: h1;
        text-align: center;
      }

    }

    .tecnologies {
      grid-area: tecnologies;
      display: grid;
      width: 100%;
      grid-template-areas: "tecnologies_frontend" "tecnologies_backend";
    }

    .tecnologies_frontend{
      grid-area: tecnologies_frontend;
      display: flex;
      align-self: center;
      justify-self: center;
      gap: 8px;

      img{
        width: 35px;
      }
    }

    .tecnologies_backend{
      grid-area: tecnologies_backend;
      display: flex;
      align-self: center;
      justify-self: center;
      gap: 8px;

      img{
        width: 35px;
      }
    }


  }

  // @media (min-width: map.get($respons, "sm")) {}

  @media (min-width: map.get($respons, "md")) {
    grid-template: {
      columns: 10% 40% 30% 20%;
      rows: 10% auto auto auto auto 10%;
      areas:
        ".   .        .    ."
        ". header  header  ."
        ". main    content ."
        ". income  income  ."
        ".   tecnologies tecnologies    ."
        ".   .        .    .";
    }

    gap: 20px;

    .header {
      grid-area: header;
      display: grid;
      grid-template-areas: "img h1";
      align-content: center;
      justify-items: center;
      gap: 5px;

      img {
        grid-area: img;
        width: 40px;
        background: map.get($color, "verde_oscuro");
        border-radius: 50px;
      }

      h1 {
        grid-area: h1;
        text-align: center;
      }
    }

    .tecnologies {
      grid-area: tecnologies;
      display: grid;
      width: 100%;
      grid-template-areas: "tecnologies_frontend tecnologies_backend";
    }

    .tecnologies_frontend{
      grid-area: tecnologies_frontend;
      display: flex;
      align-self: center;
      justify-self: center;
      gap: 8px;

      img{
        width: 35px;
      }
    }

    .tecnologies_backend{
      grid-area: tecnologies_backend;
      display: flex;
      align-self: center;
      justify-self: center;
      gap: 8px;

      img{
        width: 35px;
      }
    }

  }
}