@import './svg.scss';
@import './scroll.scss';
@import './button.scss';




@media (min-width: map.get($respons, "xs")) {
    body {
        font-size: 14px;
    }
}

@media (min-width: map.get($respons, "sm")) {
    body {
        font-size: 16px;
    }
}

@media (min-width: map.get($respons, "xxl")) {
    body {
        font-size: 18px;
    }
}