@import "./style/login.scss";

.navbar__container {
    position        : inherit;
    height          : 3rem;
    display         : flex;
    align-items     : center;
    justify-content : flex-end;
    background-color: var(--container-color);
    // justify-content : space-between;
    padding         : 0.5rem;

    img {
        width         : 2.5rem;
        border-radius : 50%;
        pointer-events: none;
    }

    .-link {
        display: flex;
        gap    : 3rem;
    }
}