@use "sass:map";

@mixin home_container {

  @media (min-width: map.get($respons, "xs")) {
    grid-template: {
      columns: 1fr;
      rows: repeat(auto-fit, minmax(10px, 1fr));
      areas:
        "home_about"
        "home_studies"
        "home_jobs"
        "home_projects";
    }

  }

  @media (min-width: map.get($respons, "md")) {
    grid-template: {
      columns: 1fr;
      rows: repeat(auto-fit, minmax(10px, 1fr));
      areas:
        "home_about"
        "home_studies"
        "home_jobs"
        "home_projects";
    }

  }

}