@use "sass:map";
@import './home_var';
@import '../../styles/var';

// background-color: map.get($color, "azul_oscuro");

.home_container {
  margin: 10px;
  display: grid;
  @include home_container();
  gap: 10px;
  
}

.about_container {
  margin-bottom: 60px;
}

.studies_container{
  margin-bottom: 60px;
}

.jobs_container {
  margin-bottom: 60px;
}

.experience_container {
  margin-bottom: 60px;
}

.project_container {
  margin-bottom: 60px;
}
