@import "./mixinHeader";

.experiences__header--content {
  display: grid;
  gap    : 0.5rem;
  padding: 1rem 0;
  align-items: center;
  justify-items: center;
   
  @include experiences__header--content-respons();

  .experiences__header--select {
    grid-area : experiences__header--select;
    h3{
      margin: 0;
    }
  }

  .experiences__header--search {
    grid-area : experiences__header--search;

  }

  .experiences__header--tech {
    grid-area : experiences__header--tech;

  }

  .experiences__header--organize {
    grid-area   : experiences__header--organize;
    display     : flex;
    gap         : 0.3rem;

  }
}