@media (min-width: map.get($respons, "xs")) {
    $fields: -name, -start-date, -end-date, -description, -image, -button;

    .title__fields {
        display: grid;
        grid-template-areas:
            "-name       -name  "
            "-start-date -end-date"
            "-description -description"
            "-image       -image"
            "-button -button";
        grid-template-columns: 45% 50%;
        gap                  : 0.5rem 2.5%;
        justify-content      : center;

        @each $fields_each in $fields {
            .#{$fields_each} {
                grid-area         : $fields_each;
                display           : grid;
                grid-template-rows: 1.5rem min-content 1rem;
                align-items       : center;
            }
        }

        .-end-date>div {
            white-space: nowrap;
        }

        .-description>textarea {
            height: 3rem;
        }

        .-image {
            grid-template-rows: 1.5rem min-content 1.2rem 10rem;
            align-items       : start;

            div {
                border         : 4px dashed var(--main-color);
                height         : 92%;
                display        : flex;
                justify-content: center;
                align-items    : center;

                img {
                    height: 80%;
                }
            }
        }

        .-button {
            grid-template-rows: 3rem;


            >div {
                display        : flex;
                justify-content: space-between;
            }
        }
    }
}