.button_login_modal {
    border    : none;
    box-shadow: none;

    &:hover {
        background-color: transparent;
    }
}

.navbar__login--google {
    position  : fixed;
    top       : 0;
    left      : 0;
    right     : 0;
    bottom    : 0;
    background: rgba(0, 0, 0, 0.8);
    background: transparent;
    cursor    : pointer;
    visibility: hidden;
    opacity   : 0;
    transition: all 0.15s ease-in;
    z-index   : 1;

    .login__google--content {
        position        : absolute;
        top             : 3.5rem;
        right           : 0.5rem;
        cursor          : default;
        height          : 6rem;
        width           : 13rem;
        background-color: var(--container-color);
        border          : 1px solid var(--body-color);
        box-shadow      : var(--container-shadow);
        border-radius   : 1rem;
        padding         : 1.5rem;
        display         : grid;

        &>div {
            place-self: center;
        }
    }
}

.navbar__modal--open {
    visibility: visible;
    opacity   : 1;
}