.home__container--user {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    gap            : 1rem;

    >div>select {
        margin: 5px 0;
        height: 2rem;
    }
}