.home__container--user {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    gap            : 1rem;

    >div>select {
        width: 11rem;
        margin: 1rem;
        background-color: var(--container-color);
        color: var(--title-color);
    }
}