@use "sass:map";

.home__skill--container {
    margin : 0;
    padding: 0;
    display: grid;

    grid-template: {
        columns: repeat(auto-fit, minmax(6.5rem, 1fr));
        rows   : auto;
    }
}

.home__skill--card {
    display           : grid;
    min-height        : 8rem;
    justify-content   : center;
}

.skill__card--father {
    display      : grid;
    max-width    : 9rem;
    min-height   : 6rem;
    border-radius: 1rem;
    margin       : 0.5rem;
    padding      : 0.5rem;

}

.skill__card--son {
    display: grid;

    grid-template: {
        columns: 1fr;
        rows   : 80% 20%;
    }

    place-items: center;

    h5 {
        margin: 0;
    }

    img {
        width: 30%;
    }
}