.curriculum__container {
  display: grid;
  color  : black;

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
  }

  hr {
    border-bottom: 1px solid black;
  }

  .curriculum__button {
    position: fixed;
    top     : 0;
    right   : 0;
    padding : 1rem;
  }

  .curriculum__content {
    >header {
      background-color     : #e4e6e7;
      display              : grid;
      grid-template-columns: 10rem 1fr;

      >div {
        display: grid;
        grid-template-rows: 3rem 1fr;

        h2{
          text-align: center;
          margin: 0.5rem;
        }

        >div {
          display              : grid;
          grid-template-columns: repeat(3, 1fr);
          align-items: center;

          >div {
            >a{
              display: grid;
              grid-template-columns: 1rem 1fr;
              align-items: center;
              column-gap: 0.5rem;
            }

            p {
              margin: 0;
            }

            img {
              width        : 1.5rem;
              border-radius: 0.3rem;
            }
          }

        }
      }
    }

    >main {
      display         : grid;
      background-color: white;
      padding         : 1rem 3rem;
      gap             : 1rem;

      img {
        width        : 2rem;
        border-radius: 0.3rem;
      }

      .experience__skill {
        display: grid;

        .experience__container {
          .experience__content {
            display: grid;
            gap    : 1rem;

            >div {
              border       : 1px solid #e4e6e7;
              border-radius: 0.5rem;
            }

            .company--content {
              display                : grid;
              grid-template-columns  : 2rem 1fr 9rem;
              background-color       : #eff3f5;
              gap                    : 1rem;
              align-items            : center;
              padding                : 0 0.5rem;
              border-top-left-radius : 0.5rem;
              border-top-right-radius: 0.5rem;
            }

            .position__container {
              display                   : grid;
              gap                       : 0.5rem;
              padding                   : 0.5rem 1rem;
              border-bottom-left-radius : 0.5rem;
              border-bottom-right-radius: 0.5rem;

              h2,
              h3,
              h4,
              h5,
              h6 {
                margin: 0;
              }

              .position--content {
                display: grid;
                grid-template-areas:
                  "-name -functions"
                  "-date -functions";
                grid-template-columns: 10rem;
                align-content        : center;
                column-gap           : 0.4rem;
                border               : 1px solid #e4e6e7;
                padding-right        : 0.5rem;
                border-radius        : 0.5rem;

                $position: -image, -name, -date, -functions;

                @each $position_each in $position {
                  >.#{$position_each} {
                    grid-area: $position_each;
                  }
                }

                >.-name,
                .-date {
                  text-align      : center;
                  background-color: #eff3f5;
                }

                >.-functions {
                  display  : flex;
                  flex-wrap: wrap;
                  gap      : 0.5rem;
                  padding  : 0.5rem 0;

                  .functions--content {
                    flex   : auto;
                    display: grid;
                    grid-template-areas:
                      "-image -name"
                      "-image -date";
                    grid-template-columns: 2rem 1fr;
                    background-color     : #eff3f5;
                    place-items          : center;
                    padding              : 0.2rem;
                    border-radius        : 0.5rem;

                    $functions: -image, -name, -date;

                    @each $functions_each in $functions {
                      >.#{$functions_each} {
                        grid-area : $functions_each;
                        align-self: center;
                      }
                    }

                    >.-image {
                      display: flex;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .skill__container {
        .skill__content {
          display: flex;
          gap    : 1rem;

          ul {
            display: grid;
            gap    : 1rem;

            >div {
              display              : grid;
              grid-template-columns: 2rem 10rem 1fr;
              align-items          : center;
              gap                  : 1rem;

              h4 {
                margin: 0;
              }
            }
          }

          .skill__card--son {
            border    : 1px solid #e4e6e7;
            box-shadow: none;
          }
        }
      }

      .education__container {
        .education__title {}

        .education__content {
          .curriculum__education--content {
            .education__content--one {
              display    : flex;
              gap        : 1rem;
              align-items: center;

              h3 {
                margin: 0;
              }
            }

            .education__content--two {
              h4 {
                margin: 0;
              }

              ul {
                display   : grid;
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
}