@use "sass:map";
@import './landingPage_var';

.landing_container {
  background-color: map.get($color, "azul_oscuro");
  color: map.get($color, "gris_medio");
  @include landing();
  display: grid;
  height: 100vh;
  // max-height: 100vh;
  justify-items: center;

  .main {
    grid-area: main;
    display: grid;
    grid-template-rows: 20% 80%;

    h3 {
      text-align: center;
    }

    p {
      text-align: justify;
    }
  }

  .content {
    grid-area: content;
    display: grid;
    grid-template-rows: 20% 60%;
    gap: 5px;

    h4{
      text-align: center; 
    }
    ul{
     display: grid;
     align-content: space-evenly;
    }
  }

  .income {
    grid-area: income;
    p{
      text-align: justify;
    }
  }

  a {
    color: map.get($color, "verde_claro"); 
    text-decoration: none;
  }

}

//  CORE
.core_container{
  background-color: map.get($color, "azul_oscuro");
  color: map.get($color, "gris_medio");
  height: 100vh;
  display: grid;
  @include core();
  

  .core_loading {
    grid-area: core_loading;
    justify-self: center;
    align-self: center;
  }

}

/// loading
.loader {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 5px solid map.get($color, "gris_oscuro");
  position: relative;
  animation: load 2s linear infinite;
}

.loader::before,.loader::after {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
}

.loader::before {
  border-top: 5px solid map.get($color, "verde_oscuro");
  transform: rotate(120deg);
}

.loader::after {
  border-top: 5px solid map.get($color, "naranja_oscuro");
  transform: rotate(240deg);
}

.loader span {
  position: absolute;
  font-size: small;
  width: 100px;
  height: 100px;
  color: map.get($color, "naranja_oscuro");
  text-align: center;
  line-height: 100px;
  animation: a2 2s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}