@use "sass:map";

@mixin landing {

  @media (min-width: map.get($respons, "xs")) {
    grid-template: {
      columns: 5% 1fr 1fr 5%;
      rows: 3% 1fr 1fr 1fr 1fr 3%;
      areas:
        ".   .        .    ."
        ". header  header  ."
        ". main    main ."
        ". content    content ."
        ". income  income  ."
        ".   .        .    .";
    }
    
    gap: 5px;

    .header {
      grid-area: header;
      display: grid;
      grid-template-areas: "img" "h1";
      align-content: center;
      justify-items: center;
      gap: 3px;

      img {
        grid-area: img;
        width: 40px;
        background: map.get($color, "verde_oscuro");
        border-radius: 50px;
      }

      h1 {
        grid-area: h1;
        text-align: center;
      }

    }


  }

  @media (min-width: map.get($respons, "sm")) {}

  @media (min-width: map.get($respons, "md")) {
    grid-template: {
      columns: 10% 50% 30% 10%;
      rows: 10% auto auto auto 10%;
      areas:
        ".   .        .    ."
        ". header  header  ."
        ". main    content ."
        ". income  income  ."
        ".   .        .    .";
    }

    gap: 20px;

    .header {
      grid-area: header;
      display: grid;
      grid-template-areas: "img h1";
      align-content: center;
      justify-items: center;
      gap: 5px;

      img {
        grid-area: img;
        width: 40px;
        background: map.get($color, "verde_oscuro");
        border-radius: 50px;
      }

      h1 {
        grid-area: h1;
        text-align: center;
      }

    }

  }
}