@use "sass:map";

@mixin landing{

  @media (min-width: map.get($respons, "xs")) {
    grid-template: {
      columns: 5% 1fr 1fr 5%;
      rows: 3% 1fr 1fr 1fr 1fr 3%;
      areas:
        ".   .        .    ."
        ". header  header  ."
        ". main    main ."
        ". content    content ."
        ". income  income  ."
        ".   .        .    .";
    }
    .header {
      grid-area: header;
      display: flex;
      flex-direction: column;
      img{
        width: 40px;
        background: map.get($color, "verde_oscuro");
        border-radius: 50px;
      }
    }

    
  }

  @media (min-width: map.get($respons, "sm")) {
    grid-template: {
      columns: 10% 50% 30% 10%;
      rows: 10% 1fr 1fr 1fr 10%;
      areas:
        ".   .        .    ."
        ". header  header  ."
        ". main    content ."
        ". income  income  ."
        ".   .        .    .";
    }
    .header {
      grid-area: header;
      display: flex;
      flex-direction: column;
      img{
        width: 40px;
        background: map.get($color, "verde_oscuro");
        border-radius: 50px;
      }
    }

  }

  @media (min-width: map.get($respons, "md")) {
    grid-template: {
      columns: 10% 50% 30% 10%;
      rows: 10% auto auto auto 10%;
      areas:
        ".   .        .    ."
        ". header  header  ."
        ". main    content ."
        ". income  income  ."
        ".   .        .    .";
      }
      gap: 20px;

      .header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        img{
          width: 40px;
          background: map.get($color, "verde_oscuro");
          border-radius: 50px;
        }
      }

  }
}
