@use "sass:map";

.landing_container {
  background-color: map.get($color, "azul_oscuro");
  color: map.get($color, "gris_medio");
  @include landing();
  display: grid;
  height: 100vh;
  justify-items: center;

  .main {
    grid-area: main;

    h2 {

      text-align: center;
    }

    p {
      text-align: justify;
    }
  }

  .content {
    grid-area: content;
  }

  .income {
    grid-area: income;
  }



}