.tooltip {
  position        : relative;
  display         : inline-block;
  // border-bottom: 1px dotted black;

  .tooltiptext {
    visibility      : hidden;
    width           : 120px;
    background-color: var(--container-color);
    color           : var(--text-color);
    text-align      : center;
    border-radius   : 6px;
    padding         : 5px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index : 1;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}