@use "sass:map";
@import "./mixinExperience";
@import "../sections/Header/styles/header";
@import "../sections/Main/styles/main";

.experiences__container {
  display      : grid;
  padding      : 1%;
  border-radius: 0.3rem;
  border       : 1px solid var(--container-color);

  .experiences__header--container {
    display                 : grid;
    padding                 : 1%;
  }

  .experiences__main--container {
    display        : grid;
    padding        : 2%;
    height         : 32rem;
    overflow-y     : auto;
    scroll-behavior: smooth;
  }
}