.login__container {
    width        : 100vw;
    height       : 100vh;
    display      : grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);

    >div {
        grid-area       : 2 / 2;
        background-color: var(--container-color);
        border-radius   : 0.5rem;
        display         : grid;
        place-content   : space-evenly;
        padding         : 0 1rem;

        >.-google {
            display: grid;
        }

        >.-button {
            display      : flex;
            place-content: space-between;

            >button {
                box-shadow: var(--container-shadow);
            }
        }
    }
}