@use "sass:map";

@mixin layout_container {

  @media (min-width: map.get($respons, "xs")) {
    grid-template: {
      columns:1fr;
      rows: 100px minmax(10px, 1fr);
      areas:
      "layout_navbar   layout_navbar"
      "layout_children layout_sidebar";
    }
    gap: 5px;
  }

  @media (min-width: map.get($respons, "md")) {
    grid-template: {
      columns: minmax(10px, 1fr);
      rows: 50px minmax(10px, 1fr);
      areas:
        "layout_navbar   layout_navbar"
        "layout_children layout_sidebar";
    }

  }

}

$layout_name: layout_navbar, layout_children, layout_footer;