@use "sass:map";

@mixin navbar_container {

  @media (min-width: map.get($respons, "xs")) {
    grid-template: {
      columns: repeat(auto-fit, minmax(10px, 1fr));
      rows: repeat(auto-fit, minmax(10px, 1fr));
      areas: "navbar_left" "navbar_right";
    }

    gap: 5px;

    .navbar_left {
      padding: 10px;
      grid-area: navbar_left;
      display: flex;
      justify-content: center;

      img {
        width: 40px;
        background: map.get($color, "verde_oscuro");
      }

      h4 {
        padding: 10px;
      }

    }

    .navbar_right {
      padding: 10px;
      grid-area: navbar_right;
      text-align: center;

      a {
        text-decoration: none;
        color: map.get($color, "verde_oscuro");
        padding: 10px;
      }

    }
  }

  @media (min-width: map.get($respons, "md")) {
    grid-template: {
      columns: repeat(auto-fit, minmax(10px, 1fr));
      rows: repeat(auto-fit, minmax(10px, 1fr));
      areas: "navbar_left navbar_right";
    }

    .navbar_left {
      padding: 10px;
      grid-area: navbar_left;
      display: flex;
      justify-content: flex-start;

      img {
        width: 40px;
        background: map.get($color, "verde_oscuro");
      }

      h4 {
        padding: 10px;
      }

    }

    .navbar_right {
      padding: 10px;
      grid-area: navbar_right;
      display: flex;
      justify-self: flex-end;
      align-self: center;

      a {
        text-decoration: none;
        color: map.get($color, "verde_oscuro");
        padding: 10px;
      }

    }
  }

}