@use "sass:map";

@mixin sidebar_container {

  @media (min-width: map.get($respons, "xs")) {
    img {
      width: 30px;
      border-radius: 5px;
    }


  }

  @media (min-width: map.get($respons, "md")) {
    img {
      width: 40px;
      border-radius: 5px;
    }

  }

}