
.experiences__card--container {
    padding: 1%;

    .experiences__card--father {
        padding         : 6%;
        background-color: var(--container-color);
        border-radius   : 0.5rem;

        .experiences__card--son {
            display: grid;
            gap    : 1%;

            .experiences__card--date {
                grid-area: experiences__card--date;

                h6 {
                    margin    : 0;
                    text-align: end;
                }
            }

            // .experiences__card--image {
            //     grid-area      : experiences__card--image;
            //     display        : grid;
            //     justify-content: center;
            //     height         : min-content;

            // }

            .experiences__card--name {
                grid-area: experiences__card--name;
                white-space: nowrap;
            }

            .experiences__card--tasks {
                grid-area : experiences__card--tasks;
                overflow-y: auto;

                ul{
                    margin: 0;
                }
            }

            .experiences__card--technologies {
                grid-area : experiences__card--technologies;
                overflow-y: auto;

                .experiences__technologies--container {
                    display              : grid;
                    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
                    gap                  : 0.5rem;

                    .experiences__technologies--indi {
                        //                         // white-space: nowrap;
                        list-style   : none;
                        border-radius: 0.1rem;
                    }
                }
            }
        }
    }
}