@media (min-width: map.get($respons, "xs")) {

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

        .experiences__card--container {
            padding: 2%;

            .experiences__card--father {
                padding         : 6%;
                background-color: var(--container-color);
                border-radius   : 0.5rem;

                .experiences__card--son {
                    display   : grid;
                    gap       : 1%;
                    max-height: 20rem;
                    min-height: 20rem;
                    grid-template-areas:
                        "experiences__card--date"
                        "experiences__card--image"
                        "experiences__card--name"
                        "experiences__card--tasks"
                        "experiences__card--technologies";
                    grid-template-rows: 2rem 5rem 1.5rem 7.5rem 3rem;

                    .experiences__card--date {
                        grid-area: experiences__card--date;

                        h6 {
                            margin    : 0;
                            text-align: end;
                        }
                    }

                    .experiences__card--image {
                        grid-area : experiences__card--image;
                        place-self: center;

                        img {
                            height       : 4rem;
                            border-radius: 0.5rem;
                        }
                    }

                    .experiences__card--name {
                        grid-area   : experiences__card--name;
                        justify-self: center;
                        white-space : nowrap;
                        overflow      : hidden;
                        text-overflow : ellipsis;
                        
                        
                        h4 {
                            margin: 0;
                        }
                    }

                    .experiences__card--tasks {
                        grid-area : experiences__card--tasks;
                        overflow-y: auto;

                        ul {
                            margin              : 0;
                            padding-inline-start: 18px;
                        }
                    }

                    .experiences__card--technologies {
                        grid-area            : experiences__card--technologies;
                        display              : grid;
                        grid-template-columns: auto min-content;
                        gap                  : 0.3rem;
                        overflow-x           : auto;
                        align-items          : center;

                        .experiences__technologies--container {
                            display    : flex;
                            flex-wrap  : nowrap;
                            gap        : 0.5rem;
                            overflow-x : auto;
                            white-space: nowrap;


                            .experiences__technologies--indi {
                                flex            : auto;
                                text-align      : center;
                                background-color: var(--body-color);
                                border-radius   : 0.3rem;
                                padding         : 0.2rem 0.4rem;
                                list-style      : none;
                            }
                        }
                    }
                }
            }
        }
    }

    .list {
        grid-template-columns: 1fr;

        .experiences__card--container {
            padding: 1%;

            .experiences__card--father {
                padding         : 6%;
                background-color: var(--container-color);
                border-radius   : 0.5rem;

                .experiences__card--son {
                    display   : grid;
                    max-height: 14rem;
                    min-height: 14rem;
                    grid-template-areas:
                        "experiences__card--date experiences__card--name"
                        "experiences__card--image experiences__card--tasks"
                        "experiences__card--technologies experiences__card--technologies";
                    grid-template-rows   : 2rem 9.5rem 2.5rem;
                    grid-template-columns: 6rem;

                    .experiences__card--date {
                        grid-area: experiences__card--date;

                        h6 {
                            margin    : 0;
                            text-align: start;
                        }
                    }

                    .experiences__card--image {
                        grid-area : experiences__card--image;
                        place-self: center;

                        img {
                            height       : 4rem;
                            border-radius: 0.5rem;
                        }
                    }

                    .experiences__card--name {
                        grid-area   : experiences__card--name;
                        justify-self: center;
                        white-space : nowrap;

                        h4 {
                            margin: 0;
                        }
                    }

                    .experiences__card--tasks {
                        grid-area : experiences__card--tasks;
                        overflow-y: auto;
                        overflow  : hidden;

                        ul {
                            margin              : 0;
                            padding-inline-start: 18px;
                        }
                    }

                    .experiences__card--technologies {
                        grid-area            : experiences__card--technologies;
                        display              : grid;
                        grid-template-columns: auto min-content;
                        gap                  : 0.3rem;
                        overflow-x           : auto;
                        align-items          : center;

                        overflow: hidden;

                        .experiences__technologies--container {
                            display    : flex;
                            flex-wrap  : nowrap;
                            gap        : 0.5rem;
                            overflow-x : auto;
                            white-space: nowrap;


                            .experiences__technologies--indi {
                                flex            : auto;
                                text-align      : center;
                                background-color: var(--body-color);
                                border-radius   : 0.3rem;
                                padding         : 0.2rem 0.4rem;
                                list-style      : none;
                            }
                        }
                    }
                }
            }
        }
    }

}