

// @mixin experiences__card--father_height {
//     @media (min-width: map.get($respons, "xs")) {
//         height          : none;
//     }

//     @media (min-width: map.get($respons, "md")) {
//         height          : 95.5%;
//     }

//     @media (min-width: map.get($respons, "xxl")) {
//         height          : 95.5%;
//     }
// }


@mixin triangle($size, $color, $direction) {
    border-color: transparent;
    border-style: solid;
   
    @if $direction == uno {
      border-top-color: $color;
    } @else if $direction == right {
      border-left-color: $color;
    } @else if $direction == down {
      border-top-color: $color;
    } @else if $direction == left {
      border-right-color: $color;
    } @else {
      @error "Unknown direction #{$direction}.";
    }
  }
