.company__container {
  .company__title {
  }

  .company__render {
    display: grid;

    ul{
        // padding-inline-start: 0;
    }

    li{
        // list-style: none;
    }
  }

  .admin__company {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    justify-items: center;
  }
}
