@import './sections/Company/company.scss';
@import './sections/Position/position';
@import './sections/Function/function';
@import './mixinAdmin';

.admin_container{
    display: grid;
    margin: 5%;
    @include admin__container-padding();

    .function__title,
    .position__title,
    .company__title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }


}

.mandatory,
.err{
    color: red;
}

