@use "sass:map";
@use "./var";

@mixin landing_container {

  @media (min-width: map.get(var.$respons, "xs")) {
    grid-template: {
      columns: repeat(auto_fill(10px, 1fr));
      rows: repeat(auto_fill(10px, 1fr));
      areas:
        "landing_header      landing_header"
        "landing_main        landing_main"
        "landing_content     landing_content"
        "landing_income      landing_income  "
        "landing_tecnologies landing_tecnologies"
    }

    margin: 10px 20px 10px 20px;
    gap: 5px;

    .landing_header {
      grid-area: landing_header;
      display: flex;
      flex-direction: column;
      place-items: center;
      text-align: center;
      gap: 10px;
    }
  }

  @media (min-width: map.get(var.$respons, "md")) {
    grid-template: {
      columns: repeat(auto_fill(10px, 1fr));
      rows: repeat(auto_fill(10px, 1fr));
      areas:
        "landing_header      landing_header"
        "landing_main        landing_content"
        "landing_income      landing_income  "
        "landing_tecnologies landing_tecnologies"
    }

    margin: 40px 60px 40px 60px;
    gap: 10px;

    .landing_header {
      grid-area: landing_header;
      display: flex;
      flex-direction: row;
      place-content: center;
      gap: 10px;
    }
  }
}

$landing_name: landing_main, landing_content, landing_income, landing_tecnologies;