.home__contact--container {

    div {
        &:nth-child(1) {
            display        : flex;
            justify-content: space-around;

            img {
                width: 2.5rem;
            }
        }

        &:nth-child(2) {
            display        : flex;
            justify-content: center;
        }
    }

}